@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container py-5">
            <h1 class="display-4 pb-5">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
            <p class="py-3">you can see your <a class="text-success" asp-controller="Friends" asp-action="List">friends List </a> </p>
            <p class="py-3">Or add a <a class="text-danger" asp-controller="Friends" asp-action="NewPage">New friend  </a> </p>
</div>
