@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer class="border-top footer text-muted">
    <div class="container">
        <p> &copy; July 2023 </p>
        <p> FriendsApp.com - <a asp-controller="Friends" asp-action="List">Friends List</a></p>
    </div>
</footer>
